/* contact */

#first_input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    padding: 10px 12px;
}

#second_input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    padding: 10px 12px;
}

#three_input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    padding: 10px 12px;
}

#four_input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    padding: 10px 12px;
}

#five_input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #fff;
}